
body {
    font-family: Helvetica, Sans-Serif;
}

#mainWrapper{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

#uiControls{
    width: 900px;
}

.uiControlsSub {
    width:390px;
    padding: 30px;
    display: inline-block;
    float: left;
}

#svgContainer{
    display: inline-block;
}

.slider {
    margin:20px 0;
}

.ui-slider-handle {
    outline: 0 none !important;
}

.ui-state-hover {
    background: #f6f6f6 !important;
    border-color: #ccc !important;
}

.ui-state-focus {
    background: #f6f6f6 !important;
    border-color: #ccc !important;
}